.us-card {
    max-width: 300px;
    transition: 0.3s;
}

.us-card:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.us-developer{
    background-color: #c9969e;
}

.us-professional {
    background-color: #7e2b33;
}

.us-person {
    background-color: #dbb658;
}

.us-card-header {
    color: #fff;
}