.us-card {
    max-width: 300px;
}

.us-developer{
    background-color: #c9969e;
}

.us-professional {
    background-color: #7e2b33;
}

.us-person {
    background-color: #dbb658;
}

.us-card-header {
    color: #fff;
}